In [1]:
import pandas as pd
import seaborn
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../dataset/sujets_master_2022.csv')

In [4]:
df.head()

,Id,Title,Author,Grade,Taken,Priority 1,Priority 2,Priority 3,Priority 4,Priority 5,Date,Time
0,1499,IoT for remote monitoring in Algeria,KHABABA Abdallah,Professeur,True,F3I,IDTW,IFIA,GL,RSD,2022-01-04,09:49:23
1,1501,"Development, Usability, and Efficiancy of a Se...",KHABABA Abdallah,Professeur,True,GL,IFIA,F3I,IDTW,RSD,2022-01-02,19:21:14
2,1502,Conception et Réalisation d’un système de réal...,KHABABA Abdallah,Professeur,True,F3I,RSD,IDTW,GL,IFIA,2022-01-16,12:13:05
3,1504,An IoT Based Mobile Augmented Reality Applicat...,KHABABA Abdallah,Professeur,True,F3I,IDTW,GL,IFIA,RSD,2022-01-04,09:50:25
4,1363,Architecture d’un Système Nano Macro de Réseau...,ALIOUAT Makhlouf,Professeur,True,RSD,IDTW,IFIA,GL,F3I,2022-01-02,19:41:53

## Authors

In [6]:
df['Author'].unique()

array(['KHABABA  Abdallah', 'ALIOUAT  Makhlouf', 'KAMEL  Nadjet',
       'MOUSSAOUI  Abdelouahab', 'REFOUFI  Allaoua', 'SAIDI  Mohamed',
       'ALIOUAT née ZOUAOUI  Zibouda', 'KHENTOUT  Chabane',
       'DOUIDI  Lamri', 'BENAOUDA  Abdelhafid',
       'KHENTOUT née HARBOUCHE  Khadidja',
       'ZAIMEN née MEDIANI  Chahrazed', 'MECHTA  Djamila',
       'LAOUADI  Mohamed Amin', 'BEGHRICHE  Abdesselem',
       'AISSAOUA  Habib', 'BENAIDJA  Amira', 'MEKROUD  Noureddine',
       'KHARCHI  Samia', 'HAMMOUCHE  Yassine', 'FENANIR  Samir',
       'LAKHFIF  Abdelaziz', 'TOUMI  Lyazid', 'LALAMA  Zahia',
       'DJAGHLOUL  Haroun', 'BANABIREZ née ZERGUINE  Nadia',
       'DRIF  Ahlem', 'AMRANI  Lakhdar', 'BOUAMARI  Abdelkader',
       'ZAZOUA née DJEMAME  Safia', 'DOUAR  Amel', 'GOUDJIL  Lakhdar',
       'KHALFALLAH née HADI  Fairouz', 'GUELLATI  Nabil',
       'SEMCHEDINE  Moussa', 'BRAHIM-SALEM  Fatiha', 'KARA  Abdelaziz',
       'MANSOURI  Houceme', 'NASRI  Khaled', 'TEBBANI  Fatiha',
       'KANOUNI  Lakhdar', 'LAMRAOUI  Amar', 'LOUAIL  Lemia',
       'BESSOU  Sadik', 'KARA Mohamed  Chafia', 'GHERBI  Chirihane',
       'KACHA  Lynda', 'Harrag  Fouzi', 'Cherbal  Sara', 'BALBAL  Samir',
       'Frihia  hamza', 'Ferradji  mohamed', 'BERRIMI  Fella',
       'BOURAS  IKRAM', 'Kout  Akram', 'Kosrane  Mohamed',
       'Bouaita  Bilal', 'SEGHIR  Fateh', 'CHERGUI  Nabila',
       'Haddadi  Mohamed', 'Benmessahel  Bilel', 'Annane  Boubakeur',
       'Zier  Abdelhak', 'Harbi  Yasmine', 'BERRHAIL  Fouaz',
       'AYACHE  Farid'], dtype=object)

In [20]:
df['Author'].value_counts()

MOUSSAOUI  Abdelouahab    11
KHABABA  Abdallah          4
MECHTA  Djamila            4
TOUMI  Lyazid              4
BALBAL  Samir              3
                          ..
Kosrane  Mohamed           1
Frihia  hamza              1
LALAMA  Zahia              1
KHENTOUT  Chabane          1
AYACHE  Farid              1
Name: Author, Length: 66, dtype: int64

In [10]:
df['Grade'].value_counts()

Maitre de conferences classe B                                                                         41
Maitre de conferences classe A                                                                         30
Maitre assistant classe A                                                                              30
Professeur                                                                                             23
Maitre assistant classe B                                                                               9
Maitre de conferences classe B) --> Hors département: Faculté de technologie                            5
Maitre de conferences classe B) --> Hors département: Université de Boumerdes, Departement économie     3
Maitre de conferences classe B) --> Hors département: Faculte de technologie                            3
Maitre de conferences classe B) --> Hors département: Faculté de Biologie                               2
Maitre assistant classe A) --> Hors département: Faculté d'économie                                     1
Name: Grade, dtype: int64

In [12]:
df['Taken'].value_counts()

True     137
False     10
Name: Taken, dtype: int64

In [13]:
df['Priority 1'].value_counts()

RSD     46
IDTW    36
IFIA    31
F3I     26
GL       8
Name: Priority 1, dtype: int64

In [14]:
df['Priority 2'].value_counts()

IFIA    52
IDTW    43
F3I     30
RSD     13
GL       9
Name: Priority 2, dtype: int64

In [15]:
df['Priority 3'].value_counts()

IFIA    52
IDTW    41
F3I     25
GL      17
RSD     12
Name: Priority 3, dtype: int64

In [16]:
df['Priority 4'].value_counts()

GL      60
F3I     38
RSD     22
IDTW    19
IFIA     8
Name: Priority 4, dtype: int64

In [17]:
df['Priority 5'].value_counts()

RSD     53
GL      51
F3I     27
IDTW     8
IFIA     4
Name: Priority 5, dtype: int64

In [22]:
df[df['Author']=='MOUSSAOUI  Abdelouahab']['Priority 1'].value_counts()

F3I     5
IDTW    5
GL      1
Name: Priority 1, dtype: int64

In [25]:
df[df['Priority 1']=='F3I']['Author'].value_counts()

MOUSSAOUI  Abdelouahab           5
KHABABA  Abdallah                3
KHALFALLAH née HADI  Fairouz     3
DJAGHLOUL  Haroun                2
NASRI  Khaled                    2
KARA Mohamed  Chafia             2
BERRIMI  Fella                   2
ZAIMEN née MEDIANI  Chahrazed    1
MEKROUD  Noureddine              1
ZAZOUA née DJEMAME  Safia        1
SEMCHEDINE  Moussa               1
Harrag  Fouzi                    1
Bouaita  Bilal                   1
Benmessahel  Bilel               1
Name: Author, dtype: int64

In [29]:

from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
final_stopwords_list = stopwords.words('english') + stopwords.words('french')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\khaled\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [30]:
df["mytext_new"] = df['Title'].str.lower().str.replace('[^\w\s]','')


new_df = df.mytext_new.str.split(expand=True).stack().value_counts().reset_index()

new_df.columns = ['Word', 'Frequency']

new_df

C:\Users\khaled\AppData\Local\Temp\ipykernel_3084\2948213284.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["mytext_new"] = df['Title'].str.lower().str.replace('[^\w\s]','')

              Word  Frequency
0              des         52
1               de         47
2              les         32
3              for         28
4         learning         23
..             ...        ...
607       messages          1
608         safety          1
609      broadcast          1
610         method          1
611  apprentissage          1

[612 rows x 2 columns]

In [31]:
common_words = new_df[~new_df.Word.isin(final_stopwords_list)]

In [32]:
common_words

              Word  Frequency
4         learning         23
7             deep         21
13           based         12
15           using         12
18        networks         10
..             ...        ...
607       messages          1
608         safety          1
609      broadcast          1
610         method          1
611  apprentissage          1

[580 rows x 2 columns]